body{
    text-align: center;
    background-image: url("https://www.shutterstock.com/image-vector/do-list-plan-reminder-hand-260nw-562119679.jpg");
    background-repeat: no-repeat;
	background-size: cover;

}
li {
    list-style: none;
    text-align: center;
    font-size: 30px;
    background-color: lightseagreen;
}

input {
    width: 500px;
    height: 40px;
    font-size: 30px;
    align-items: center;
    background-color: gray;
    color: white;
    cursor: pointer;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    background-color: red;
}
button{
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-style: italic;
    background-color: azure;
    border-radius: 50px 80px 50px 80px;
}